<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Polony.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PolonyBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <connectionStrings>
        <add name="DbConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=PolonyBot.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <applicationSettings>
        <Polony.Properties.Settings>
            <setting name="ServerId" serializeAs="String">
                <value>185541633243217920</value>
            </setting>
            <setting name="DanisenChannelId" serializeAs="String">
                <value>229951183882551303</value>
            </setting>
            <setting name="BotToken" serializeAs="String">
                <value>MjMzOTIyMDE3MDYwMDYxMTg1.Ctkglw.gGqG8fbrFKtSyNEZykHRoVfGSjY</value>
            </setting>
            <setting name="DefaultPrefix" serializeAs="String">
                <value>%</value>
            </setting>
        </Polony.Properties.Settings>
    </applicationSettings>
    <log4net configSource="log4net.config" />
</configuration>
