<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DbConnectionString"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=PolonyBot.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServerId" value="185541633243217920" />
    <add key="DanisenChannelId" value="229951183882551303" />
    <add key="BotToken" value="MjMzOTIyMDE3MDYwMDYxMTg1.Ctkglw.gGqG8fbrFKtSyNEZykHRoVfGSjY" />
    <add key="DefaultPrefix" value="%" />
    <add key="DisplayScoresInterval" value="24:00:00" />
  </appSettings>
</configuration>