<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DbConnectionString"
         xdt:Locator="Match(name)" xdt:Transform="Replace"
         connectionString="Data Source=safgcdb.mssql.somee.com;Initial Catalog=safgcdb;Persist Security Info=True;User ID=ilitirit_SQLLogin_2;Password=hs19qpxerk"
         providerName="System.Data.SqlClient"
     />
  </connectionStrings>
  <appSettings>
      <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="BotToken" value="MjI5OTMzNTczMjk2MDk1MjMy.CsqeAQ.wtXJODMXwalr7ltQySchCPnU8JI"/>
      <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="DanisenChannelId" value="231050661914083330" />
      <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="DefaultPrefix" value="$" />
  </appSettings>
</configuration>